* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 800px;
  padding: 10px;
  margin: auto;
}
